@keyframes fadeIn {
    from {
        top: 0%;
        opacity: 0%;
    }
    to {
        top: 50%;
        opacity: 50%;
    }
}

@keyframes hover {
    from {
        opacity: 100%;
    }
    to {
        opacity: 50%;
    }
}
.main {
    background: black;
    font-size: 50px;
    display: inline-flex;
    justify-content: center;
    padding: 200px;
    padding-top: 1px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 50%;
    animation: fadeIn 2s;
    overflow-x: hidden;
}

.bg {
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-size: cover;
    filter: blur(25px);
    position: absolute;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.name {
    color: white;
    font-family: 'Poppins', sans-serif;
    top: 15%;
    position: absolute;
    font-size: 32px;
}

.socials {
    justify-content: center;
    bottom: 25%;
    height: 40%;
    -webkit-align-items: center;
    display: -webkit-inline-flex;
    position: absolute;
}

#twitter {
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#github {
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#youtube {
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#deselect {
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

a {
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: relative;
}

.note {
    top: 98%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-size: 10px;
    margin: 0;
}

img:hover {
    animation: hover 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
